<!DOCTYPE html>
<html>

<head>
    <title>Vue Course</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <div id="app">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <label for="">From</label>
                    <select v-model="from" name="" id="" class="form-control">
                        <option value="" v-for="currency in formattedCurrencies"></option>                    
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="">To</label>
                    <select v-model="to" name="" id="" class="form-control">
                    <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <input type="text" V-model="amount" placeholder="Enter the Amount" class="form-control my-5">
                    <div class="text-center">
                        <button class="btn btn-lg btn-primary">Convert</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1 class="text-center display-2 mt-5">54.03</h1>
                </div>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>


</body>

</html>